<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgl.mapper.fieldNoticeMapper">
    <select id="findAllNotice" resultType="com.cdgl.pojo.fieldnotice">
        Select * from fieldnotice
    </select>


    <select id="fefieldnotice" parameterType="Integer" resultType="com.cdgl.pojo.fieldnotice">
        Select *from fieldnotice where fieldnoticeid=#{fieldnoticeid}
    </select>

<update id="updateFieldNotice" parameterType="com.cdgl.pojo.fieldnotice">
    UPDATE fieldnotice SET fieldNoticeTitle=#{fieldnoticetitle},fieldNoticeBody=#{fieldnoticebody} WHERE fieldnoticeid=#{fieldnoticeid}
</update>

    <delete id="deleteFieldNotice" parameterType="Integer">
        Delete from fieldnotice where fieldnoticeid=#{fieldnoticeid}
    </delete>

    <insert id="addFieldNotice" parameterType="com.cdgl.pojo.fieldnotice">
        INSERT INTO `fieldnotice` (`fieldNoticeTitle`, `fieldNoticeBody`) VALUES (#{fieldnoticetitle}, #{fieldnoticebody});
    </insert>


</mapper>
