<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdgl.mapper.fieldMapper">
<!--    查询全部场地-->
    <select id="findAll" resultType="com.cdgl.pojo.field">
        Select * from field
    </select>
<!--  查询未预约的场地  -->
    <select id="unbook1" resultType="com.cdgl.pojo.reservations">
        Select * from reservations
    </select>
<!--    查询已预约场地-->
    <select id="booked" resultType="com.cdgl.pojo.field">
        Select *from field where book='1'
    </select>

    <select id="unbook2" resultType="com.cdgl.pojo.reservations">
        Select * from reservations where fieldid=#{fieldid}
    </select>

<!--    删除场地-->
    <delete id="DelField" parameterType="Integer">
        Delete from field where fieldid=#{fieldid}
    </delete>

    <update id="UpdateFieldId" parameterType="Integer">
        ALTER TABLE field AUTO_INCREMENT = #{fieldid}
    </update>
<!--    添加场地-->
    <insert id="AddField" parameterType="com.cdgl.pojo.field">
        INSERT INTO `field` (`fieldName`, `kind`,`book`,`rate`,`location`) VALUES (#{fieldName}, #{kind}, #{book},#{rate},#{location});
    </insert>
<!--    添加预约信息-->
    <insert id="BookField1" parameterType="com.cdgl.pojo.reservations">
        INSERT INTO `reservations` (`fieldid`,`reservation_date`,`starttime`,`endtime`,`hour`,`username`) VALUES (#{fieldid},#{reservation_date},#{starttime},#{endtime},#{hour},#{username});
    </insert>
<!--    预约场地-->

<!--    时间检查-->
    <select id="FieldBookCheckTime" parameterType="com.cdgl.pojo.reservations" resultType="com.cdgl.pojo.reservations">
        SELECT * FROM reservations WHERE ((starttime &gt; #{starttime} AND starttime &lt; #{endtime})
        OR (starttime &lt; #{starttime} AND endtime &gt; #{endtime})
        OR (endtime &gt; #{starttime} AND endtime &lt; #{endtime})
        OR (starttime = #{starttime} AND endtime &lt; #{endtime})
        OR (starttime = #{starttime} AND endtime &gt; #{endtime})
        OR (endtime = #{endtime} AND starttime &gt; #{starttime})
        OR (endtime = #{endtime} AND starttime &gt; #{starttime})
        OR (endtime = #{endtime} AND starttime = #{starttime}))
        AND fieldid=#{fieldid} AND reservation_date=#{reservation_date};
    </select>
<!--    日期检查-->
    <select id="FieldBookCheckDate" parameterType="com.cdgl.pojo.reservations" resultType="com.cdgl.pojo.reservations">
        SELECT * FROM reservations WHERE reservation_date = #{reservation_date}
    </select>
<!--    取消预约-->
    <delete id="CancleBook" parameterType="Integer" >
        Delete from reservations WHERE reservation_id=#{reservation_id}
    </delete>

    <delete id="canlbookbydel" parameterType="Integer">
        DELETE  from reservations where fieldid=#{fieldid}
    </delete>
<!--数量检测-->
    <select id="bookNum" parameterType="com.cdgl.pojo.reservations" resultType="integer">
        SELECT COUNT(*) FROM reservations WHERE username = #{username};
    </select>
<!--    存在检查-->
    <select id="FieldExist" parameterType="com.cdgl.pojo.reservations" resultType="com.cdgl.pojo.reservations">
        SELECT * FROM field WHERE fieldid=#{fieldid};
    </select>


</mapper>
